.link-tab {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    border-radius: 30px 0 0;
    background-color: $theme-color;
    color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 9;
    @include sp {
        display: none;
    }
}
.link-tab__title {
    margin-bottom: 5px;
}
%link-tab__icon {
    border-radius: 4px;
    border: 1px #fff solid;
}
.link-tab__icon--sns {
    @extend %link-tab__icon;
    background-color: #fff;
    font-size: 2.4rem;
    margin-left: 10px;
}
.link-tab__icon--order {
    @extend %link-tab__icon;
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 33px;
    border: 1px #fff solid;
}
