.welcome {
    width: 80vw;
    height: 90vh;
    background-color: #fff;
    padding: 50px 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.77);
    overflow: scroll;
    display: none;
    transition-duration: 0.8s;
    @include tab {
        width: 90vw;
    }
    @include sp {
        padding: 40px 20px;
    }
}
.welcome__close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.welcome__skill {
    border: 2px solid #000;
    border-radius: 8px;
    width: 70%;
    margin: 40px auto 20px;
    padding: 20px 40px;
    @include tab {
        width: 90%;
    }
    @include sp {
        width: 100%;
        padding: 40px 10px;
    }
}
.skill__title {
    text-align: center;
    margin-bottom: 20px;
}
.skill__list {
    padding-left: 20px;
}
.skill__list-item {
    list-style-type: disc;
    line-height: 3rem;
    a:link {
        color: #0000ee;
        text-decoration: underline;
    }
    a:visited {
        color: #551a8b;
        text-decoration: underline;
    }
    a:active {
        color: #ff0000;
        text-decoration: underline;
    }
}
